<div class="app-common-news">
  <input type="radio" checked="checked" id="slide1" class="app-common-news__selector" name="app-common-news__selector" />
  <input type="radio" id="slide2" class="app-common-news__selector" name="app-common-news__selector" />
  <input type="radio" id="slide3" class="app-common-news__selector" name="app-common-news__selector" />

  <ul class="app-common-news__carousel-list">
    <li class="app-common-news__carousel-item app-common-news__carousel-item-blue">
      <div class="description">Текст 1</div>
    </li>
    <li class="app-common-news__carousel-item app-common-news__carousel-item-red">
      <div class="description">Текст 2</div>
    </li>
    <li class="app-common-news__carousel-item app-common-news__carousel-item-green">
      <div class="description">Текст 3</div>
    </li>
  </ul>

  <ul class="app-common-news__carousel-labels-list">
    <li class="app-common-news__carousel-label">
      <label for="slide1"></label>
    </li>
    <li class="app-common-news__carousel-label">
      <label for="slide2"></label>
    </li>
    <li class="app-common-news__carousel-label">
      <label for="slide3"></label>
    </li>
  </ul>
</div>
