<div class="app-animal-filter">
  <select class="app-animal-filter__select--type">
    <option disabled class="app-animal-filter__item--disabled">Enter filter type</option>
    <option value="name" class="app-animal-filter__item">Filter by Name</option>
  </select>
  <select class="app-animal-filter__select">
    <option value="name" class="app-animal-filter__item" selected>Contains</option>
    <option value="name" class="app-animal-filter__item">Starts with</option>
  </select>
  <input type="text" class="app-animal-filter__search-text" placeholder="Enter value">
  <input type="button" value="Search" class="app-animal-filter__button">
  <p class="app-animal-filter__results">Results for "<b>  </b>"</p>
</div>
