<div class="animal-filter">
  <form [formGroup]="filter" (ngSubmit)="onSubmit()">
    <select class="animal-filter__select--type" formControlName="filter_type">
      <option disabled class="animal-filter__item--disabled">Choose filter type</option>
      <option class="animal-filter__item" *ngFor="let type of filterTypes" [ngValue]="type">
        {{type.value}}
      </option>
    </select>
    <select class="animal-filter__select" formControlName="search_type">
      <option disabled class="animal-filter__item--disabled">Choose search type</option>
      <option class="animal-filter__item" *ngFor="let type of searchTypes" [ngValue]="type">
        {{type.value}}
      </option>
    </select>
    <input type="text" class="animal-filter__search-text" placeholder="Enter value" formControlName="search_value">
    <button type="submit" class="animal-filter__button">Search</button>
  </form>
  <p class="animal-filter__results" *ngIf="countResult">Results for "<b> {{countResult}} </b>"</p>
</div>
