<div class="app-header">
  <div class="app-header__contact">
    <a href="tel:1-562-867-5309" class="app-header__call-button">Click to Call Us!</a>
  </div>
  <nav class="app-header__nav">
    <div class="app-header__logo">
      <a routerLink="/home" class="app-header__nav--nav-home"></a>
    </div>
    <ul class="app-header__list">
      <li class="app-header__item"><a class="app-header__nav-link" routerLink="/animals">Animals</a></li>
      <li class="app-header__item"><a class="app-header__nav-link" routerLink="/news">News</a></li>
      <li class="app-header__item"><a class="app-header__nav-link" routerLink="/about">About zoo</a></li>
    </ul>
  </nav>
</div>
